@font-face {
  font-family: 'bebas';
  src: url("/fonts/BebasNeue-webfont.eot");
  src: url("/fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; 
}


body {
    font-family: "bebas", "Helvetica Neue", Arial, sans-serif;
    color: #000;
    margin: auto;
    background: #FFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: visible;
    overflow-x: hidden;
}

/*Big Screens Vertical*/

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.jam-main {
    border:1px solid black;
}

.jam-main h1 {
    font-size: 72px;
}
.jam-container a {
    font-size: 32px;
}
.dis-mah-jam-buttons .yee {
    font-size: 60px;`
}
.dis-mah-jam-buttons .nah {
    font-size: 32px;`
}

/*Big Screens Horizontal*/

@media screen and (min-width: 820px) and (orientation: landscape) {
    
}


/*Small Screens Vertical*/

@media screen and (max-width: 600px) and (orientation: portrait) {
    
}

/*Small Screens Horizontal*/

@media screen and (max-width: 820px) and (orientation: landscape) {
    
}